.quote_item {
    font-family: "Courier New", Courier, monospace;
}

.quote_author {
    text-align: right;
}

.quote_item a {
    color: #333;
    text-decoration: none;
}

.quote_item a:hover {
    text-decoration: underline;
}